* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  padding-top: 20px;
}

header,
footer {
  text-align: center;
}

header {
  background-color: aqua;
  height: 12vh;
  border-radius: 15px;
  width: 300px;
  margin: 0 auto;
  line-height: 12vh;
}

header h1 {
  display: inline-block;
  margin: 0px;
  line-height: 1.5;
  vertical-align: middle;
}

main {
  text-align: center;
  padding: 0 70px;
  min-height: 72vh;
}

main section {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

main form {
  margin: 10px auto;
  width: 200px;
  line-height: 2;
}

button {
  border-radius: 10px;
  background: aqua;
}

main div {
  display: inline-flex;
  height: fit-content;
  margin: 5px;
  flex-flow: row-reverse;
  position: relative;
  place-self: center;
}

main img {
  width: 400px;
}

div button {
  position: absolute;
  background: red;
  border: 0;
  border-radius: 15px;
  width: 30px;
  height: 25px;
  font-size: large;
}

footer {
  height: 12vh;
}

footer button {
  height: 60%;
  width: 125px;
  font-size: 15px;
}
